@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Pathway+Gothic+One&display=swap');

*{
    font-family: 'Calligraffitti', cursive;

}

p{
    color: white;
    background-color: black;
    font-family: 'Pathway Gothic One', sans-serif;
  
}


h1{
    text-align: center;
}


